/* Header CSS ******************************************************************************/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3d6d6;
  padding: 0px 10px;
  box-shadow: 0 2px #0000001a;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.logo {
  height: 150px;
  width: auto;
  margin-right: 20px;
  margin-top: 20px;
}

.search-bar {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding-left: 10px;
}

.search-bar input {
  width: 100%;
  max-width: 300px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #fff;
}

.icon {
  font-size: 30px;
  cursor: pointer;
  color: #fff;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: #000000 underline;
  margin-right: 10px;
}

.nav-links li {
  text-transform: uppercase;
}

.nav-links a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #6bba81;
}

html,
body {
  background-color: #f2e4ca;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

/* Product Lists CSS ******************************************************************************/
.product-list {
  text-align: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  margin: 10px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 8px;
  width: 200px;
  text-align: center;
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
  transform: scale(1.05);
}

.product img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

h1 {
  color: #6bba81;
  text-shadow: 0px 2px 2px #fff;
}
.search-button {
  padding: 5px 10px;
  background-color: #6bba81;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 5px;
  margin-right: 15px;
}

.search-button:hover {
  background-color: #fff;
  color: #6bba81;
}
.radley-regular-italic {
  font-family: "Radley", serif;
  font-weight: 400;
  font-style: italic;
}
/* Banner CSS ******************************************************************************/
.banner {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-image {
  width: 100%;
  height: auto;
}

.banner-content {
  position: absolute;
  color: white;
  text-align: center;
}

.banner-content h1 {
  margin: 0;
  font-size: 3rem;
}

.banner-content p {
  margin: 0;
  font-size: 1.5rem;
}

/* Product Details CSS ******************************************************************************/
.ProductDetailsBox {
  display: flex;
  flex-direction: row;
}
.OrganizeDetails {
  display: flex;
  flex-direction: row;
}
.h1ProductDetails {
  text-align: center;
  margin: 2% auto;
  color: #6bba81;
}
.imgProductsDetails {
  margin: 10px 20px;
  width: 400px;
  height: 250px;
  border-radius: 5px;
}
.details {
  margin: 0px 10px;
}
.ButtonPD {
  height: 200px;
  width: 100px;
}
.RandomProducts {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 0px 30px;
  margin: 1% auto;
}
.RandomProductsBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.imgRandom {
  width: 200px;
  height: 150px;
  border-radius: 5px;
}

@media screen and (max-width: 700px) {
  .OrganizeDetails {
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
  }
  .imgProductsDetails {
    margin: 1% auto;
    width: 200px;
    height: 200px;
    border-radius: 5px;
  }
  .ButtonPD {
    height: 200px;
    width: 200px;
  }
}

/* Footer.css */
.footer {
  display: flex;
  justify-content: space-between; /* This will push the content to the sides */
  align-items: center;
  padding: 10px 20px;
  background-color: #6bba81; /* Adjust as needed */
}

.footer p {
  flex: 1;
  text-align: center;
  margin: 0;
  font-size: 20px;
  color: #333; /* Adjust as needed */
}

.footerlogo {
  width: 100px; /* Adjust the size as needed */
  height: auto;
  margin-left: 10px;
}

.footer-socials {
  display: flex;
  flex-direction: row;
}
.footer-links {
  display: flex;
  gap: 15px; /* Space between links */
}

.footer-links a {
  text-decoration: underline;
  color: #333; /* Adjust as needed */
  font-size: 20px;
}

.footer-links,
.footer-socials {
  margin: 10px 0;
  font-size: 20px;
  color: white;
}

.footer-link,
.footer-social {
  color: black;
  margin: 0 10px;
  text-decoration: underline;
}

.footer-link:hover,
.footer-social:hover {
  text-decoration: underline;
  color: #f4c2c2; /* Adjust as needed */
}

.footer p{
  font-size: 14pt;
}

@media screen and (max-width: 1200px) {
  .footer-socials {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Space between links */
  }
  .social {
    display: flex;
    flex-direction: row;
  }
  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Space between links */
  }
  .footer p{
    font-size: 10pt;
    margin: 20px;
  }
}

/* Shopping Cart CSS ********************************************************************************************/
.shopProductBlock {
  align-items: center;
  margin: 10px 100px;
}
.shopProduct {
  display: flex;
  flex-direction: row;
  margin: 20px;
}
.shopImg {
  width: 150px;
  border: 1px solid pink;
  border-radius: 5px;
}
.totalPrice {
  text-align: center;
  color: gray;
}
@media screen and (max-width: 700px) {
  .shopProduct {
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
  }
  .shopImg {
    margin: 1% auto;
    width: 200px;
    height: 200px;
    border-radius: 5px;
  }
}

/* Home - Categories CSS ******************************************************************************/
.subCategories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  margin: 20px 0;
  padding: 0 20px;
}

.subCategory {
  text-align: center;
  transition: transform 0.3s ease;
  text-decoration: none;
  color: inherit;
  color: #000000;
  text-shadow: 1px 1px #f4c2c2;
}

.subCategory:hover {
  transform: scale(1.05);
  color: #6bba81;
}

.subCategoryImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 1px solid #6bba81;
  margin-bottom: 10px;
  border-radius: 6pt;
}

/* Checkout CSS ************************************************************************/
.centerLink {
  margin: 1% auto;
  font-size: 24pt;
  background: none;
  border: none;
}
.centerLink:hover {
  margin: 1% auto;
  font-size: 24pt;
  background: none;
  border: none;
  transform: scale(1.1);
}

.checkout-container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.group1 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.group2 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-left: 15%;
}
.group3 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-left: 15%;
}
.checkbox{
  margin-left: 42%;
}

.form-group {
  margin: 15px 10px;
}
.form-group .enter{
  width: 300px;
  height: 20px;
  margin-left: 5px;
}

.order-summary {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.order-summary h3 {
  margin: 5px 0;
}
.total {
  display: flex;
  justify-content: space-around;
}
.gift{
  text-align: center;
}
.checkoutBtn{
  padding: 10px 20px;
  text-align: center;
  margin-left: 43%;
}
@media screen and (max-width: 1300px) {
  .group1 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-left: 15%;
  }
}