/* src/components/ProductList.css */

body {
  background-color: #f4c2c2;
}
.product-list {
  text-align: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  margin: 10px;
  color: #d1edcc;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 8px;
  width: 200px;
  text-align: center;
  background-color: #d1edcc;
}

.product img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
